// FONT FAMILY
$jersey: "Jersey 25";
$roboto: "Roboto";

// FONT WEIGHTS
$fw-2: 200;
$fw-3: 300;
$fw-4: 400;
$fw-5: 500;
$fw-6: 600;
$fw-7: 700;
$fw-8: 800;
$fw-9: 900;

// FONT SIZES
$fs-12: .75rem;
$fs-14: .875rem;
$fs-16: 1rem;
$fs-18: 1.125rem;
$fs-20: 1.25rem;
$fs-22: 1.375rem;
$fs-24: 1.5rem;
$fs-30: 1.875rem;
$fs-32: 2rem;
$fs-36: 2.25rem;
$fs-40: 2.5rem;
$fs-42: 2.625rem;
$fs-48: 3rem;
$fs-50: 3.125rem;
$fs-60: 3.75rem;
$fs-72: 4.5rem;

// COLORS
$white: #fff;
$black: #000;
$darkgreen: #1b8033;

// BG COLORS
$bg-white: #fff;
$bg-black: #000;
$bg-darkgreen: #1b8033;

// TEXT COLORS
$txt-white: #fff;
$txt-black: #000;
$txt-darkgreen: #1b8033;

// BORDER COLORS
$br-white: #fff;
$br-black: #000;
$br-darkgreen: #1b8033;

// BORDER RADIUS
$br-0: 0;
$br-5: 5px;
$br-10: 10px;
$br-15: 15px;
$br-20: 20px;